<div class="container">
  <div class="row">
    <div class="col-12 pt-3 pb-3 border-bottom">
      <div class="float-right">
      <a class="btn btn-outline-primary">Log In</a>
       <a class="btn btn-primary">Sign Up</a>
        <div class="dropdown show float-right">
          <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
           
          </div>
        </div>
        <div class="karma float-left mt-2 mr-2">
       
          <span class="fa fa-star text-warning"></span>
        </div>
       
      </div>
      <p class="h3"><%= link_to "Awesome Rails Reddit Ripoff", root_path %></p>
    </div>
  </div>
</div>
